* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 36px;
  min-height: 100vh;
  color: #fff;
  background-color: #000;
  display: grid;
  place-content: center;
}
.input-registracije{
  margin-top: 10px;
  display: block;
}
.unos-registracije{
  padding-bottom: 50px;
}
button{
  color:white;
  background-color: rgb(255, 117, 117);
  height: 50px;
  font-size: larger;
}